.list {
  $self: &;
  margin-bottom: 30px;
  overflow: auto;
  max-height: 65%;

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    transition: background-color 0.2s ease-in-out;

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .badge {
      position: relative;
      left: 5px;
    }
    &:hover {
      background: rgba($color: #fff, $alpha: 0.5);
      #{$self}__remove-icon {
        opacity: 0.2;
      }
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }

    &.active {
      background: #fff;
      box-shadow: 0px 2px 10px rgba($color: #fff, $alpha: 0.05);
      border-radius: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }

  &__add-button {
    svg,
    span {
      opacity: 0.4;
    }
    &:hover {
      svg,
      span {
        opacity: 1;
      }
    }
  }
}
